:root {
  --var-font-family: system-ui, sans-serif;
  --main-bg: rgb(13, 0, 44);
  --main-color: white;
  --var-border-radius: 1rem;
  --border-color: blue;
  font-family: monospace;
}

html {
  font-family: var(--var-font-family);
  background-color: var(--main-bg);
  color: var(--main-color);
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.2rem;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgb(84, 84, 84);
  background: linear-gradient(
    -140deg,
    rgba(26, 2, 2, 0.87) 1%,
    rgb(0, 0, 0) 50%,
    rgba(20, 2, 3, 0.87) 100%
  );
  margin: 0;
  padding: 0;
}
.bg {
  margin: 0;
  font-size: 1.2rem;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgb(84, 84, 84);
  background: linear-gradient(
    140deg,
    rgba(81, 12, 12, 0.8) 1%,
    rgb(0, 0, 0) 50%,
    rgba(71, 7, 11, 0.87) 100%
  );
  margin: 0;
  padding: 0;
  opacity: 0.26;
}

.layer{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  overflow: hidden;
  position: absolute;

}

.layer .title{
  font-size: 7.4vmin;
  font-family: "Kumbh Sans", sans-serif;
} 

.layer.left{
  background-color: aquamarine;
}

.layer.right{
  background-color: rgb(150, 31, 230);
}