:root {
  --var-font-family: system-ui, sans-serif;
  --main-bg: white;
  --main-color: rgb(24, 24, 24);
}

html {
  font-family: var(--var-font-family);
  background-color: var(--main-bg);
  color: var(--main-color);
}

body {
  margin: 0;
  font-size: 1.2rem;
}

.h-title {
  font-size: 4.25rem;
}

.wrapper {
  max-width: 40rem;
  margin: auto;
}

.header-content > * {
  width: auto;
}

.h-img {
  width: 100%;
}
