:root {
  --var-font-family: system-ui, sans-serif;
  --main-bg: white;
  --main-color: rgb(24, 24, 24);
}

html {
  font-family: var(--var-font-family);
  background-color: var(--main-bg);
  color: var(--main-color);
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.2rem;
}

