:root {
  --var-font-family: "Hind Siliguri", system-ui, sans-serif;
  --main-bg: rgb(11, 41, 3);
  --main-color: white;
  --var-border-radius: 1rem;
  --border-color: rgb(3, 3, 31);
}

html {
  font-family: var(--var-font-family);
  background-color: var(--main-bg);
  color: var(--main-color);
  box-sizing: border-box;
  background: linear-gradient(
    -340deg,
    rgba(19, 3, 13, 0.87) 5%,
    rgb(0, 0, 0) 50%,
    rgba(0, 15, 7, 0.87) 90%
  );
  background-size: 120% 120%;
  overflow: hidden;
}

body {
  margin: 0;
  font-size: 1.2rem;
  height: 100vh;
  width: 100vw;
  background: rgb(29, 29, 29);
  background: linear-gradient(
    -140deg,
    rgba(14, 5, 1, 0.87) 5%,
    rgb(0, 0, 0) 50%,
    rgba(1, 3, 8, 0.57) 70%
  );
  padding: 0;
  background-size: 130% 120%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

@keyframes gradient-linear {
  0% {
    background-position: 54% 0%;
  }
  50% {
    background-position: 47% 100%;
  }
  100% {
    background-position: 54% 0%;
  }
}

.d-none {
  display: none;
}

/* header */

.wrapper-h {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: clamp(6.68rem, 5vw, 2.5rem) 0.19rem;

  row-gap: 0.19rem;
  justify-content: center;
  position: relative;
}

.card-h {
  background-color: rgba(97, 97, 97, 0.13);
  position: relative;
  overflow: hidden;
  width: 100%;
}

.card-h:before {
  content: " ";
  background: radial-gradient(
    63rem circle at var(---mouse-x) var(---mouse-y),
    rgba(var(---bg-r), var(---bg-g), var(---bg-b), 0.082),
    transparent 34%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  transition: opacity 433ms;
  filter: blur(100%);
}
.card-h:hover:before {
  opacity: 1;
}

.card-h-inside {
  width: 100%;
  height: calc(100% - 4px);
  background-color: #11111163;
  margin: 2px;
}

.nav-top .card-h-inside {
  display: grid;
  align-content: center;
  justify-content: start;
  grid-template-columns: 2fr 1fr;
  padding-inline: 15vmin;
}

.profile-h {
  display: flex;
  gap: 1rem;
  height: 100%;
  align-items: center;
  flex-wrap: nowrap;
}
.profile-logo-h > img {
  width: clamp(5.68rem, 4vw, 1.5rem);
  height: auto;
}
.profile-info-h {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}
.profile-name {
  font-size: clamp(1.58rem, 3vw, 1.45rem);
}
.profile-career {
  font-size: clamp(1.02rem, 2vw, 1.1rem);
  color: #f5f5f575;
}

.profile-burger {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;

  flex-direction: column;

  --var-width-max: 1.6rem;
  --var-width-min: 1.16rem;
  --var-height: 0.1085rem;
  z-index: 1;
}
.btn {
  background: transparent;
  border: 0;
}
.btn-hb {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.btn-hb.active-bg {
  opacity: 0;
}

.profile-burger .btn-hb > span {
  height: var(--var-height);
  width: var(--var-width-max);
  background-color: white;
  display: block;
  margin-block: 0.25rem;
  transition: width 333ms, transform 522ms, opacity 80ms;
}
.btn-hb > span:nth-child(1),
.btn-hb > span:nth-child(3) {
  width: var(--var-width-min);
}
.btn-hb:hover > span:nth-child(1),
.btn-hb:hover > span:nth-child(3) {
  width: var(--var-width-max);
}
.btn-hb:hover > span:nth-child(2) {
  width: var(--var-width-min);
}

.btn-hb:focus > span:nth-child(1) {
  width: calc(var(--var-width-max) + 0.12rem);
  height: 0.1085rem;
  transform-origin: top left;
  transform: rotate(45deg) translateY(0.1rem);
}
.btn-hb:focus > span:nth-child(3) {
  width: calc(var(--var-width-max) + 0.12rem);
  height: 0.1085rem;
  transform-origin: bottom left;
  transform: rotate(-45deg) translateY(0.1rem);
}
.btn-hb:focus > span:nth-child(2) {
  width: 0;
  opacity: 0;
}
/* main */

.main {
  width: 100%;
  height: 100%;
}

#body .wrapper {
  /* display: grid; */
  grid-template-columns: repeat(3, minmax(10rem, 23rem));
  grid-template-rows: repeat(2, 18rem);
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: center;
  position: relative;
  transform: translate(0%, 5rem);
  z-index: 2;
  display: none !important;
}

#body[data-index="0"] .wrapper[data-index="0"],
#body[data-index="3"] .wrapper[data-index="3"] {
  display: grid !important;
}

#body[data-index="1"] .wrapper[data-index="1"],
#body[data-index="2"] .wrapper[data-index="2"] {
  display: flex !important;
}

.card-m {
  background-color: rgba(255, 255, 255, 0.071);
  border-radius: var(--var-border-radius);
  position: relative;
  overflow: hidden;
}

.card-m:before {
  content: " ";
  background: radial-gradient(
    63rem circle at var(---mouse-x) var(---mouse-y),
    rgba(var(---bg-r), var(---bg-g), var(---bg-b), 0.082),
    transparent 34%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  transition: opacity 433ms;
}
.card-m:hover:before {
  opacity: 1;
}

.card-inside {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: #0a090a63;
  margin: 2px;
  border-radius: var(--var-border-radius);
}

#glow {
  width: 650px;
  height: 650px;
  background-color: rgba(22, 114, 22, 0.356);
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 15s ease infinite;
  filter: blur(200px);
  opacity: 0;
  border-radius: 300px;
  transition: opacity 1.2s cubic-bezier(0.16, 1, 0.3, 1);
  position: absolute;
  z-index: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* sidebar */
.sidebar {
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0px;
  z-index: 4;
  clip-path: circle(0% at 82% 4%);
  transition-duration: 200ms;
}

.sidebar.active-bg {
  clip-path: circle(100% at 82% 4%);
}

.menu {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-items {
  color: white;
  font-size: clamp(2rem, 15vw, 4.5rem);
  font-family: "DM Sans";
  display: block;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0;
  margin-top: clamp(3rem, 15vw, 48rem);
  margin-right: clamp(3rem, 15vw, 48rem);
  cursor: default;
  text-align: right;
  z-index: 3;
}

.menu-item {
  transition: opacity 411ms, transform 411ms, filter 444ms;
}

.menu-items:hover > .menu-item {
  opacity: 0.24;
  cursor: pointer;
  transform: translateZ(10px);
  filter: blur(4.6px);
  text-shadow: 0px -1px 9px #ffffff56;
}

.menu-items:hover > .menu-item:hover {
  opacity: 1;
  filter: blur(0);
  text-shadow: -2px -1px 20px #ffffff73;
}

.bg-menu {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(
    rgba(0, 9, 26, 0.13) 7.555%,
    transparent 3%
  );
  background-position: 0 0;
  background-size: 12.25vmin 12.25vmin;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity 522ms, background-size 522ms, background-position 522ms;
}

.menu-items:hover ~ .bg-menu {
  background-size: 11.1vmin 11.1vmin;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.295) 5.8%,
    transparent 3%
  );
  opacity: 0.64;
}

.bg-menu-picture {
  width: 100vw;
  height: 100vh;
  background: rgba(31, 31, 31, 0.377);
  background-image: url("../korn.mp4");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 522ms, background-size 522ms, background-position 522ms;
}

.menu-items:hover ~ .bg-menu-picture {
  opacity: 0.98764;
}

.bg-menu-picture #bg_menu_picture_video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.87;
}
.bg-menu-picture #bg_menu_picture_video:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}

/* menu close */

.menu .menu-close {
  color: white;
  font-size: clamp(1rem, 10vw, 2.5rem);
  font-family: "DM Sans";
  display: block;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0;
  margin-top: 1rem;
  margin-right: clamp(3rem, 15vw, 48rem);
  cursor: default;
  z-index: 2;
  text-align: right;
  transition-duration: 200ms;
  opacity: 0.56;
  font-weight: 900;
  z-index: 3;
}
.menu .menu-close:after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background: white;
  transition: all 200ms;
  position: relative;
  top: -46%;
}
.menu .menu-close:hover {
  opacity: 1;
  cursor: pointer;
}
.menu .menu-close:hover:after {
  width: 100%;
}

/* card video music */
.card-inside.card-active {
  transition: opacity 822ms;
}
.card-inside.card-active .card-inside-video.music-type {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.87;
  filter: invert() blur(2.6px);
  opacity: 0.6;
}

.card-inside.video-inside-nusic.card-active:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  background: radial-gradient(
    circle,
    rgb(0 0 0) 0%,
    rgba(var(---bg-r), var(---bg-g), var(---bg-b), 0.363) 88%
  );
  animation: gradient 5s ease infinite;
  background-size: 185%;
}

.card-inside:not(.card-active) > * {
  opacity: 0;
  display: none;
}

.text-bg {
  font-size: 1vmin;
  display: flex;
  position: absolute;
  top: 51%;
  transform: translate(0, -75%);
  z-index: -1;
  font-weight: 700;
  color: rgba(8, 8, 8, 0.637);
  user-select: none;
  transition-duration: 200ms;
  display: flex;
  justify-content: center;
  width: 100%;
}
.text-bg:hover {
  color: rgba(34, 34, 34, 0.788);
}

@keyframes gradient-rotate {
  0% {
    background-position: 15% 15%;
  }
  25% {
    background-position: 85% 0%;
  }
  50% {
    background-position: 85% 75%;
  }
  75% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 0 0;
  }
}

/* Second page */

#body #wrapper-2 {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

#body #wrapper-2 .box {
  border: 0.5rem solid blue;
  width: 26rem;
  aspect-ratio: 1 / 1.53;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -70%);
  overflow: hidden;
}

#body #wrapper-2 .box:before {
  content: "";
  position: absolute;
  width: 100vmax;
  height: 100vmax;
  background: #155196;
  background: linear-gradient(135deg, #155196, #05183b, #1d0075, #3c1d2b);
  background-size: 300% 100%;
  animation: gradient 15s ease infinite;
}

#body #wrapper-2 .box .content {
  width: calc(100% - 10vmin);
  height: calc(100% - 10vmin);
  padding: 5vmin;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#body #wrapper-2 .box .content {
  background: radial-gradient(rgba(238, 255, 7, 0.12) 6%, transparent 2%);
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  cursor: default;
  user-select: none;
  transition: background-size 800ms;
}

#body #wrapper-2 .box .title {
  font-size: clamp(2.58rem, 4vw, 2.45rem);
  margin-block-end: 3vmin;
  font-weight: 800;
  position: relative;
  z-index: 10;
}

#body #wrapper-2 .box .sub-title {
  font-size: 2vmin;
  opacity: 0;
  transition: all 633ms;
  transform: translateY(0%);
  z-index: 8;
}
#body #wrapper-2 .box .title{
  transition-duration: 200ms;
}
#body #wrapper-2 .box.playing .title {
  opacity: 0.2;
}
#body #wrapper-2 .box.playing .sub-title {
  opacity: 1;
  transform: translateY(-5%);
  transition: transform 400ms;
}

#body #wrapper-2 .box .sub-title > span:hover {
  transform: scale(1rem);
  background-color: red;
}

#body #wrapper-2 .box:hover .caption {
  opacity: 1;
  transform: translateY(-30%);
  transition: transform 300ms;
  transform-origin: left;
}

#body #wrapper-2 .box.playing .caption,
#body #wrapper-2 .box .caption {
  font-size: 4vmin;
  opacity: 0;
  transition: all 203ms ease-in-out;
  transform: translateY(-10%);
}

#body #wrapper-2 .box #video_bg {
  min-height: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;

  transition: opacity 733ms cubic-bezier(0.09, 0.1, 0.24, 0.99);
}

/* #wrapper-2 .box:hover #video_bg , */
#body #wrapper-2 .box.playing #video_bg {
  opacity: 1;
  min-height: 160%;
  transition: transform 400ms;
}

#body #wrapper-2 .box:after {
  content: " ";
  background: linear-gradient(
    315deg,
    rgb(35 21 67) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    #673ab7 98%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0.18;
}

/* #wrapper-2 .box:hover #video_bg + .content, */
#body #wrapper-2 .box.playing #video_bg + .content {
  background-position: 30% 30%;
  background-size: 1.5vmin 1.5vmin;
  /* transform: translateZ(30%); */
}

.sub-title > span {
  display: flex;
  padding-inline: 2rem;
  border-radius: var(--var-border-radius);
}

#glow2 {
  width: 33vmin;
  height: 53vmin;
  background-color: rgba(22, 114, 22, 0.356);
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 79%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 15s ease infinite;
  filter: blur(200px);
  border-radius: 300px;
  transition: opacity 1.2s cubic-bezier(0.16, 1, 0.3, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  background-size: 300% 100%;
  animation: gradient 5s ease infinite;
  display: none;
}
#body[data-index="1"] #glow2 
{
  display: block;
}
/* Third page */

#body #wrapper-3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  transform: none;
  top: 0;
  user-select: none;
  width: calc(100vw - 1rem);
  height: calc(100vh - 7rem);
  align-items: center;
  overflow: auto;
  justify-content: flex-start;
  margin-left: 1rem;
}
#wrapper-3 > * {
  position: relative;
  width: 100%;
}
#wrapper-3 > section > img {
  width: inherit;
  height: 66vmin;
  object-fit: cover;
  object-position: 100% center;
  position: relative;
  user-select: none;
  transition-duration: 322ms;
}

#wrapper-3 > section[data-credits]:before {
  content: attr(data-credits);
  width: 100%;
  height: 2rem;
  display: block;
  bottom: -1.25rem;
  position: absolute;
  text-align: center;
  color: #3f3f3fd6;
}

.content-text {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  place-content: center;
  align-items: flex-start;
  justify-content: flex-end;
  transition: 400ms;
  max-width: 80%;
}
.content-text .ct-header {
  font-size: clamp(1.6025rem, 3vw, 1.8645rem);
  line-height: clamp(1.5025rem, 3vw, 0.88645rem);
  padding: 0;
  margin: 0;
  margin-left: 3.8vmin;
  color: #7affed;
  text-shadow: -1px 0px 1px #a7a7a7;
  transition: 400ms;
  opacity: 0.5;
  transform: translateY(-10%);
}
.content-text .ct-body {
  font-size: clamp(1.025rem, 3vw, 0.8645rem);
  background: rgba(43, 43, 43, 0.664);
  margin-left: 4vmin;
  margin-bottom: 15.5vmin;
  line-height: clamp(1.025rem, 3vw, 0.8645rem);
  width: clamp(25.025rem, 16vw, 0.1355rem);
  color: #c2c2c2;
  text-shadow: -1px 0px 1px #93f8eb;
  font-family: "DM Sans";
  padding: 0.8rem;
  transition: 400ms;
  opacity: 0.5;
  transform: translateY(-10%);
}

section.header .content-text .content-wrapper {
  padding: 0.525rem;
  transition: 400ms;
  border: 4px solid rgb(90, 240, 222);
  background-color: rgba(61, 61, 61, 0.596);
  padding: 4vmin;
}

section.header .content-text .content-wrapper:hover,
section:not(.header) .content-text .ct-header:hover,
section:not(.header) .content-text .ct-header:hover + .ct-body,
section:not(.header) .content-text .ct-body:hover {
  opacity: 0.2;
}

section .content-text:hover .ct-header,
section .content-text:hover .ct-body {
  opacity: 1;
  transform: translateY(-5%);
}

section.header .content-text {
  width: 100%;
  max-width: 100%;
  flex-flow: column;
  place-content: center;
  margin: auto;
  align-items: center;
}

section.header > .content-text .ct-header,
section.header > .content-text .ct-body {
  margin: auto;
  background: transparent;
  text-align: center;
  font-size: 2vmin;
  line-height: 2vmin;
}
section.header > .content-text .ct-header {
  font-size: 3.5vmin;
}

/* scrollbar style for article */

#wrapper-3::-webkit-scrollbar {
  width: 1em;
}

#wrapper-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #15161b;
}

#wrapper-3::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
