:root {
  --var-font-family: "Hind Siliguri", system-ui, sans-serif;
  --main-bg: rgb(11, 41, 3);
  --main-color: white;
  --var-border-radius: 1rem;
  --border-color: rgb(22, 22, 87);
}

html {
  font-family: var(--var-font-family);
  background-color: var(--main-bg);
  color: var(--main-color);
  box-sizing: border-box;
  background: linear-gradient(
    140deg,
    rgba(3, 31, 28, 0.87) 5%,
    rgb(0, 0, 0) 50%,
    rgba(1, 24, 11, 0.87) 90%
  );
  background-size: 120% 120%;
}

body {
  margin: 0;
  font-size: 1.2rem;
  height: 100vh;
  width: 100vw;
  background: rgb(84, 84, 84);
  background: linear-gradient(
    -140deg,
    rgba(24, 8, 1, 0.87) 5%,
    rgb(0, 0, 0) 50%,
    rgba(3, 8, 22, 0.57) 70%
  );
  padding: 0;
  background-size: 130% 120%;


}

@keyframes gradient-linear {
  0% {
    background-position: 54% 0%;
  }
  50% {
    background-position: 47% 100%;
  }
  100% {
    background-position: 54% 0%;
  }
}

.wrapper-h {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: clamp(6.68rem, 5vw, 2.5rem) 40rem;

  row-gap: 0.4rem;
  justify-content: center;
  position: relative;
}

.card-h {
  background-color: rgba(97, 97, 97, 0.13);
  position: relative;
  overflow: hidden;
  width: 100%;
}

.card-h:before {
  content: " ";
  background: radial-gradient(
    63rem circle at var(---mouse-x) var(---mouse-y),
    rgba(var(---bg-r), var(---bg-g), var(---bg-b), 0.082),
    transparent 34%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  transition: opacity 433ms;
}
.card-h:hover:before {
  opacity: 1;
}

.card-h-inside {
  width: 100%;
  height: calc(100% - 4px);
  background-color: #0f0d0d63;
  margin: 2px;
}

.nav-top .card-h-inside {
  display: grid;
  align-content: center;
  justify-content: start;
  grid-template-columns: 2fr 1fr;
  padding-inline: 15vmin;
}

.profile-h {
  display: flex;
  gap: 1rem;
  height: 100%;
  align-items: center;
  flex-wrap: nowrap;
}
.profile-logo-h {
  width: clamp(5.68rem, 4vw, 1.5rem);
  height: auto;
}
.profile-info-h {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}
.profile-name {
  font-size: clamp(1.58rem, 3vw, 1.45rem);
}
.profile-career {
  font-size: clamp(1.02rem, 2vw, 1.1rem);
  color: #f5f5f575;
}
